<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find simple_sim)/config/eglantyne_controller.yaml</parameters>
        </plugin>

        <plugin name="gazebo_ros_joint_state_publisher"
            filename="libgazebo_ros_joint_state_publisher.so">

        <static>false</static>
        <pose>0 0 0.8 0 0 0</pose>

        <update_rate>20</update_rate>
        <joint_name>arm_pitch_right</joint_name>
        <joint_name>arm_roll_right</joint_name>
        <joint_name>hand_right</joint_name>
        
        <joint_name>arm_pitch_left</joint_name>
        <joint_name>arm_roll_left</joint_name>
        <joint_name>hand_left</joint_name>

        <joint_name>leg_yaw_right</joint_name>
        <joint_name>leg_roll_right</joint_name>
        <joint_name>leg_upper_right</joint_name>
        <joint_name>leg_under_right</joint_name>
        <joint_name>foot_pitch_right</joint_name>
        <joint_name>foot_roll_right</joint_name>

        <joint_name>leg_yaw_left</joint_name>
        <joint_name>leg_roll_left</joint_name>
        <joint_name>leg_upper_left</joint_name>
        <joint_name>leg_under_left</joint_name>
        <joint_name>foot_pitch_left</joint_name>
        <joint_name>foot_roll_left</joint_name>
        </plugin>
    </gazebo>
</robot>
